main{
  background-color: lightseagreen;
  min-height: calc(100vh - 100px);
}


main h1{
  font-size: 100px;
  text-transform: uppercase ;
  font-weight: bold;
}

main label{
  text-transform: uppercase;
}

main .errore{
  color: red;
}
